.logo {
  height: 22vh;
  max-width: 22vw;
  max-height: 22vh;
  margin-right: 0px;
}

.title-text {
  text-align: left;
}

.contact-info {
  text-align: center;
}

@media screen and (min-device-width: 760px) {
  h1 {
    font-size: 5em;
  }

  body {
    margin: auto;
  }

  .flex-project-container{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
  }

  .flex-header-container{
    display: flex;
    flex-wrap: wrap;
  }

  .project-img{
    width: 33vw
  }

  .laptop-logo{
    width: 80vw;
    margin: auto;
  }

  .about-me {
    font-size: 2em;
    margin: auto;
  }

  #project-title {
    font-size: 3em;
  }

  .project-name {
    font-size: 2em;
  }

  .rps {
    width: calc((760px - 30px)/3);
    display: block;
    margin-top: 5%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: center;
  }

  .adventure{
    width: calc((760px - 30px)/3);
    display: block;
    margin-top: 5%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: center;
  }

  .pixelart{
    width: calc((760px - 30px)/3);
    display: block;
    margin-top: 5%;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: center;
  }

  .contact-title {
    font-size: 2.5em;
  }

  .zocial-github {
    font-size: 2em;
  }

  .zocial-linkedin {
    font-size: 2em;
  }
}

@media screen and (max-device-width: 900px) {
  body {
    max-width: 850px;
    max-height: 1080px;
  }

  .rps{
    width: calc((900px - 30px)/3);
  }

  .adventure{
    width: calc((900px - 30px)/3);
  }

  .pixelart{
    width: calc((900px - 30px)/3);
  }

  .contact-info {
    font-size: 1em;
  }

  .title-text {
    max-width: 850px;
  }

  .zocial-github {
    font-size: 1.8em;
  }

  .zocial-linkedin {
    font-size: 1.8em;
  }
}
