@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

body {
  font-family: "Chakra Petch", sans-serif;
}

ul {
  list-style: none;
  display: block;
}

li {
  float: left;
  padding: 15px;
}

h1 {
  padding-bottom: 0px;
}

#project-title {
  text-align: center;
}

img,
embed,
object,
video {
  max-width: 100%;
  max-height: 100%;
}

.rps,
.pixelart,
.adventure img {
  width: 50%;
  cursor: pointer;
}

.rps,
.pixelart,
.adventure p {
  margin-top: 0px;
}

.pixelart {
  text-align: right;
  margin: 0px;
}

.logo {
  width: 15%;
  height: 15%;
}

/* .title-container {
  position: relative;
  text-align: center;
} */

.title-text h1 {
  float: right;
}

.about-me {
  font-size: 1.5em;
  background-color: #f2f5f6;
  padding: 1em;
  text-align: center;
}

.contact {
  font-size: 1.5em;
}
