@import url(https://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: "zocial", sans-serif;
}

body {
  font-family: "Chakra Petch", sans-serif;
  min-device-width: 360px;
}

ul {
  list-style: none;
  display: block;
}

h1 {
  padding-bottom: 0px;
  display: inline-block;
}

footer {
  background-color: #f2f5f6;
}

#project-title {
  text-align: center;
}

img,
embed,
object,
video {
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

.rps,
.pixelart,
.adventure img {
  cursor: pointer;
  display: inline-block;
}

.project-name {
  margin-top: 0px;
  font-size: 1.5em;
  text-align: center;
}

.pixelart {
  margin: 0px;
}

.logo {
  width: 15vw;
  height: 15vh;
  float: left;
  margin-right: 10px;
}

.title-text h1 {
  text-align: center;
}

.about-me {
  font-size: 1.5em;
  background-color: #f2f5f6;
  padding: 1em;
  text-align: center;
}

.contact-title {
  text-align: center;
  margin-bottom: 15px;
}

.contact-info {
  text-align: center;
}

.zocial-github {
  margin: 13vw;
  display: inline;
}

.zocial-linkedin {
  margin: 13vw;
  display: inline;
}
